name: Check code
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**.{j,t}s'
  pull_request:
    branches:
      - main
    paths:
      - '**.{j,t}s'

jobs:
  setup:
    name: Setup
    uses: aronhoyer/cuddly-happiness/.github/workflows/_setup.yml@main
    with:
      cache-key: ${{ github.sha }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Get files
        id: get-files
        uses: actions/cache@v3
        with:
          path: |
            ./*
            .npm
          key: ${{ github.sha }}
      - name: Run linter
        id: run-linter
        run: npm run lint

